page-login {

  .elements-color {
    background-color: #f4f4f4;
  }
  .transparency{
    opacity: 0.9;
  }
  .warning{
    background-color: map_get($colors, error)
  }
  .space{
    margin-top: 44px;
  }
}
