<ion-header>
  <ion-navbar>
    <ion-title>Login : Password</ion-title>
  </ion-navbar>
</ion-header>


<ion-content *ngIf="user.isparent == true" class="background" padding>
  <div class="spacer" style="width: 300px; height: 65px;"></div>
  <ion-card class="elements-color transparency">
    <ion-card-header>Please {{user.name}}, enter your password: </ion-card-header>
    <ion-item class="elements-color">
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-card>
  <button ion-button color="PeggyElement" type="submit" (click)="loginParent()" block>Login</button>
</ion-content>

<ion-content *ngIf="user.isparent == false" class="background" padding>
  <div class="spacer" style="width: 300px; height: 65px;"></div>
  <ion-card *ngIf="errorPassword == true" class="transparency wrong-password">
    <ion-card-content>
    <ion-icon icon-left="" name="warning"></ion-icon>
    Wrong Password
    </ion-card-content>
  </ion-card>
  <ion-card class="element-color transparency" *ngIf="(this.rotation == 0)">
    <ion-card-header>Please {{user.name}}, select your first color:</ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col><ion-item class="elements-color"><ion-checkbox color="Red" [(ngModel)]="red" (ionChange)="redPressed()"></ion-checkbox><ion-label><img src="assets/img/red-square.png"></ion-label></ion-item></ion-col>
        <ion-col><ion-item class="elements-color"><ion-checkbox color="Blue" [(ngModel)]="blue" (ionChange)="bluePressed()"></ion-checkbox><ion-label><img src="assets/img/blue-square.png"></ion-label></ion-item></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-item class="elements-color"><ion-checkbox color="Green" [(ngModel)]="green" (ionChange)="greenPressed()"></ion-checkbox><ion-label><img src="assets/img/green-square.png"></ion-label></ion-item></ion-col>
        <ion-col><ion-item class="elements-color"><ion-checkbox color="Yellow" [(ngModel)]="yellow" (ionChange)="yellowPressed()"></ion-checkbox><ion-label><img src="assets/img/yellow-square.png"></ion-label></ion-item></ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons>
      <button ion-button (click) ="addToPasswordChild()" block>Validate</button>
    </ion-buttons>
  </ion-card>
  <ion-card class="element-color transparency" *ngIf="(this.rotation == 1)">
    <ion-card-header>Please {{user.name}}, select your second color:</ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col><ion-item class="elements-color"><ion-checkbox color="Green" [(ngModel)]="green" (ionChange)="greenPressed()"></ion-checkbox><ion-label><img src="assets/img/green-square.png"></ion-label></ion-item></ion-col>
        <ion-col><ion-item class="elements-color"><ion-checkbox color="Yellow" [(ngModel)]="yellow" (ionChange)="yellowPressed()"></ion-checkbox><ion-label><img src="assets/img/yellow-square.png"></ion-label></ion-item></ion-col>
      </ion-row>
       <ion-row>
         <ion-col><ion-item class="elements-color"><ion-checkbox color="Pink" [(ngModel)]="pink" (ionChange)="pinkPressed()"></ion-checkbox><ion-label><img src="assets/img/pink-square.png"></ion-label></ion-item></ion-col>
         <ion-col><ion-item class="elements-color"><ion-checkbox color="Brown" [(ngModel)]="brown" (ionChange)="brownPressed()"></ion-checkbox><ion-label><img src="assets/img/brown-square.png"></ion-label></ion-item></ion-col>
       </ion-row>
    </ion-grid>
    <ion-buttons>
      <button ion-button (click) ="addToPasswordChild()" block>Validate</button>
    </ion-buttons>
  </ion-card>
  <ion-card class="element-color transparency" *ngIf="(this.rotation == 2)">
    <ion-card-header>Please {{user.name}}, select your third color:</ion-card-header>
    <ion-grid>
      <ion-row>
        <ion-col><ion-item class="elements-color"><ion-checkbox color="Pink" [(ngModel)]="pink" (ionChange)="pinkPressed()"></ion-checkbox><ion-label><img src="assets/img/pink-square.png"></ion-label></ion-item></ion-col>
        <ion-col><ion-item class="elements-color"><ion-checkbox color="Brown" [(ngModel)]="brown" (ionChange)="brownPressed()"></ion-checkbox><ion-label><img src="assets/img/brown-square.png"></ion-label></ion-item></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><ion-item class="elements-color"><ion-checkbox color="Red" [(ngModel)]="red" (ionChange)="redPressed()"></ion-checkbox><ion-label><img src="assets/img/red-square.png"></ion-label></ion-item></ion-col>
        <ion-col><ion-item class="elements-color"><ion-checkbox color="Blue" [(ngModel)]="blue" (ionChange)="bluePressed()"></ion-checkbox><ion-label><img src="assets/img/blue-square.png"></ion-label></ion-item></ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons>
      <button ion-button color="primary" (click) ="loginChild()" block>Login</button>
    </ion-buttons>
  </ion-card>
</ion-content>
