<ion-header>
  <ion-navbar>
    <ion-title>
      pEggy 1st Milestone
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <p>Scan to find your pEggy and connect to it !</p>
    <div>
      <ion-buttons>
        <button ion-button (click) = "startScanning()" block>Scan</button>
      </ion-buttons>
    </div>
    <div align="center">
      <ion-spinner *ngIf="isScanning==true" name="circles"></ion-spinner>
    </div>
  </div>
  <ion-card *ngFor="let device of devices">
    <ion-card-header>
      {{device.name}}
    </ion-card-header>
    <ion-card-content>
      {{device.id}}
      <ion-buttons end>
        <button ion-button (click) = "connectToDevice(device)" outline>Connect</button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>
</ion-content>
