<ion-header>
  <ion-navbar>
    <ion-title>Insert Money</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background" padding>
  <ion-card>
    <ion-card-content class="connectedToPeggy transparency" *ngIf="(isConnectedToPeggy == true)">
      <ion-icon icon-start name="checkmark-circle"></ion-icon> You are connected to Peggy</ion-card-content>
    <ion-card-content class="notConnectedToPeggy transparency" *ngIf="(isConnectedToPeggy == false)">
      <ion-icon icon-start name="warning"></ion-icon> You are not connected to Peggy</ion-card-content>
  </ion-card>
  <ion-card class="elements-color transparency">
    <ion-card-header>Amount of money on your account:</ion-card-header>
    <ion-card-content><h1>{{amountAccount}} CHF</h1></ion-card-content>
  </ion-card>

  <ion-card class="elements-color transparency">
    <ion-card-header>Money you have currently inserted</ion-card-header>
    <ion-card-content><h1>{{moneyAdded}} CHF</h1></ion-card-content>
  </ion-card>
</ion-content>
