page-home {

  .elements-color {
    background-color: #f4f4f4;
  }
  .function-button{
    float: left;
    background-image: url("../../assets/img/red-square.png");
  }
  table{
    border-collapse: collapse;
    background-color: map_get($colors, PeggyElement);
    opacity: 0.9;
    width: 100%;
    height: 50%;
  }
  tr{
    width: 100%;
  }
  td{
    border: 1px solid black;
    width: 50%;
    text-align: center;
  }

  ion-grid{
    height: 100%;
  }
  ion-row{
  }

  .resume{
    background-color: map_get($colors, PeggyElement);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 100%;
    height: 50%;
    padding: 5px;
  }

  div.polaroid {
    width: 40%;
    background-color: map_get($colors, PeggyElement);
    opacity: 0.9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  div.container {
    text-align: center;
    padding: 10px 20px;
  }
}
