page-change-password {
  .elements-color {
    background-color: #f4f4f4;
  }

  .transparency{
    opacity: 0.9;
  }

  .wrong-password{
    background-color: map_get($colors, error);
  }

  .succes{
    background-color: map_get($colors, noError);
  }
}
